@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes slideInLeft {
  from {
    transform: translateX(-750px);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInLeft 0.5s ease-in 0.1s 1 normal both;
}



@keyframes slideInLeft{
  from {
    transform: translateX(-1500px);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-left1 {
  animation: slideInLeft 0.2s ease-in 1s 1 normal both;
}

  